
.filter-dropdown {
  position: absolute;
  top: 50px;
  left: 15rem;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  z-index: 100;
}




.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.filter-btn-option {
  background-color: #f0f0f0;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.filter-btn-option.active {
  background-color: maroon;
  color: white;
}

.apply-btn {
  background-color: maroon;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.apply-btn:hover {
  background-color: darkred;
}
