.menu-container {
  position: relative;
  display: inline-block;
}

/* Button (Avatar) */
.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1vw;
}

/* Avatar */
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* Dropdown Menu */
.menu-list {
  position: absolute;
  top: 45px;
  right: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 0.875rem;
  box-sizing: border-box;
  padding: 6px;
  margin: 0;
  min-width: 200px;
  border-radius: 12px;
  overflow: hidden;
  outline: 0;
  height: 170px;
  background: #fff;
  border: 1px solid #dae2ed;
  color: #1c2025;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  z-index: 100;
}

/* Menu Items */
.menu-item {
  list-style: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: background 0.2s ease-in-out;
}

.menu-item:focus {
  outline: 3px solid #99ccf3;
  background-color: #f3f6f9;
  color: #1c2025;
}

.menu-item:hover {
  border: 2px solid #99ccf3;
}

