/* Navbar container */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9vh;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
}

.nav-link{
    margin-right: 20px;
}

/* Left Section */
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon{
  color: maroon;
  font-size: large;
}

/* Middle Section */
.nav-middle {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

/* Right Section */
.nav-right {
  display: flex;
  align-items: center;
}

.nav-right a, .nav-left a{
  text-decoration: none;
  color: black;
}

/* Single Capsule Login/SignUp Button */
.auth-btn {
  background: linear-gradient(90deg, maroon ,maroon);
  color: white;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  margin-right: 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .auth-btn {
    padding: 8px 15px;
    font-size: 12px;
  }
}
