/* Search Bar Container */
.search-bar-container {
  position: static;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

/* Search Form */
.search-form {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
}

/* Capsule Search Bar */
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  /* border-right: none; */
  border-radius:30px 0px 0px 30px ;
  overflow: hidden;
  background-color: white;
  width: 100%;
  height: 100%;
}

/* Filter Button */
.filter-btn {
  background: maroon;
  border: none;
  color: white;
  margin-left: 1%;
  padding: 0%;
  cursor: pointer;
  border-radius: 50%;
  width: 8%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Search Input */
.search-inp {
  padding: 10px;
  border: none;
  outline: none;
  width: 92%;
  flex: 1;
  font-size: 14px;
}

/* Search Button */
.search-btn {
  background-color: maroon;
  color: white;
  padding: 9.5px 9px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid maroon;
  border-radius:0px 30px 30px 0px ;
  font-size: 15px;
  height: 100%;
}

/* Filter Dropdown */
.filter-dropdown {
  position: absolute;
  top: 50px;
  left: 10px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 250px;
  z-index: 100;
}

.filter-dropdown label {
  font-size: 14px;
  font-weight: 600;
}

.filter-dropdown input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .search-form{
    width: 80%;
  }

  .search-inp {
    font-size: 12px;
    width:100px ;
  }
  .search-btn{
    width:50px ;
    font-size: 10px;
  }
  
  .filter-btn {
    background: maroon;
    border: none;
    color: white;
    /* margin-left: 1%; */
    padding: 0%;
    cursor: pointer;
    border-radius:40px 0px 0px 40px ;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-container {
  border-radius:40px 0px 0px 40px ;
}
}
